html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
background-color: rgba(184, 190, 156, 0.603);
}
.search-form{
  display:flex;
  justify-content: center;  
  margin-top: 60px;
  margin-bottom: 50px;
}
input{
  margin-right: 10px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(187, 216, 179);
}
::placeholder{
  font-size: 20px;  
}
.search-btn {
  font-size: 20px;  
  width: 150px;
  height: 50px;
  background-color: rgb(187, 216, 179);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.item:not(:nth-child(2n)){
  margin-right: 30px;
}
.item:not(:nth-last-child(-n+2)){
  margin-bottom: 50px;
}
.photo-card{
  /* display: inline-block; */
  
width: 640px;
}
.stats{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
font-size: 20px;
background-color: rgb(181, 185, 142);
}
.stats-item{
 
  align-items: center;
  justify-content: space-around;
  font-size: 20px;

}
.material-icons{
  font-size: 20px;

}
.load_more_btn{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 40px;
  background-color: rgb(187, 216, 179);
}
